@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Arial,
    sans-serif;
}

body {
  min-height: 100vh;
  background: var(--bg-color, #F8FAFC);
  background-image: radial-gradient(at 0% 0%, hsla(253, 16%, 7%, 0.02) 0, transparent 50%), radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 0.02) 0, transparent 50%), radial-gradient(at 100% 0%, hsla(339, 49%, 30%, 0.01) 0, transparent 50%);
  color: #0F172A;
}